body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

:root {
    --main-color: #757575;
    --main-title-color: #212121;
    --accent-color: #2196F3;
    --contrast-color: #FFFFFF;
    --background-dark: #2F303A;
    --background-light: #F5F5F5;
}
.list {
    list-style: none;
}
.link {text-decoration: none;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/*---------------------Header--------------------------------*/

.header {
    background-color: var(--contrast-color);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-accent {color:var(--accent-color) ;
    }

.header-nav .list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-nav .link{
    color: var(--main-title-color);  
}
.header-nav .link:hover,
.header-nav .link:focus {
    color:var(--accent-color) ;
}
.header-nav .link.current {
    color:var(--accent-color) ;
}
.header-mail, .header-tel {
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-list .link:hover,
.header-list .link:focus {
    color: var(--accent-color);
}

/*----------------------------Hero-------------------*/
.hero {
    background-color: var(--background-dark);
}
.hero-title {
color: var(--contrast-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.button {
    font-family:inherit;
    color: var(--contrast-color);
    background-color:var(--accent-color);
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
/*------------------------Our advantages-----------------------*/

.advantages {
    background-color: var(--background-light);
}
.advantages-title {
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages-text {
    color: var(--main-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*-----------------------------Activity-----------------------------*/
.activity-title {
    color: var(--main-title-color)
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/*--------------------------------Team------------------------------*/

.team-title {
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.member {
    color: var(--main-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.member-job {
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/*------------------------------------------footer------------------------------*/
footer {
    background-color: var(--background-dark);
}
.logo {
    color: var(--contrast-color);
}

.address-link {
    color: var(--contrast-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }
.address-mail, .address-tel {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*------------------------------------Portfolio-------------------------*/
.filters {
    background-color: var(--background-light);
}
.portfolio-btn {
    font-family: inherit;
    color: var(--main-title-color);
    background-color: #F5F4FA;
    border: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.portfolio-btn:focus, .portfolio-btn:hover {
    color: var(--contrast-color);
    background-color: var(--accent-color);
}
.project-title {
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-type {
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}